*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}






/* nav items starts */



nav{
      background-color: #1A0B2E;
      padding-bottom: 16px;
}

.nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  

}

.nav h2{
color: white;
font-size:xx-large;
}
 .wave{
   
  background: linear-gradient(to bottom, #F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


 } 

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav .nav-items{
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}


.nav ul li a:hover{
    color: rgb(169, 22, 49);
    cursor: pointer;
}



.nav .subscribe{
    color: white;
    width: 135px;
    padding: 12px 16px;
    border-radius: 25px;
    font-weight: 600;
background: linear-gradient(to bottom, #F7E93F, #FB09B4,#9100F8);
border: none;
  

}


 .subscribe:hover{
    background: linear-gradient(to right, #1936db, #40cb53);
    font-size: 15px;
    cursor: pointer;
  
 }


  .nav .hamburger-menu{
    display: none;
  }




/* banner section starts here */

  .line {
  border: none;
  height: 2px;
  background-color:rgb(44, 44, 75) ;
}







.img-box {
  position: relative;  
  width: 200px;
  
}

.img-1 {
  width: 400px;
  display: block;
  padding-top: 4%;
  margin: 0 auto;
}

.img-2 {
   position: absolute;
  top: 32%;
  /* left: 50%; */
  right: 46%;
  width: 120px;
  z-index: 2;
}

/*  Badge beside 1st image */

 
.badge {
  position: absolute;
  top: 25%;
  right: 38%;

  background: rgb(27, 193, 27);
 
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 12px;

  z-index: 3;
} 

  .banner-text-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  

  .techWave{
    color: white;
font-size: 60px;
font-weight: 800;

  }

  .techWave-text{
    color: rgba(255, 255, 255, 0.447);
    text-align: center;
  }



  .banner-btns{
    margin-top: 24px;
    display: flex;
    gap: 8px;

  }




  .Listen-on-Spotify{
     color: white;
    width: 155px;
    padding: 10px ;
    border-radius: 25px;
    font-weight: 600;
background: linear-gradient(to bottom, #F7E93F, #FB09B4,#9100F8);
border: none;

  }

 .Listen-on-Spotify:hover {
     background: linear-gradient(to right, #1936db, #40cb53);
    font-size: 14px;
    cursor: pointer;
  }


  .banner-btns .Subscribe{
      color: rgb(29, 200, 29);
    width: 135px;
    padding: 10px ;
    border-radius: 25px;
    font-weight: 600;
background: transparent;
border: 2px solid rgb(29, 200, 29);


  }


  .banner-btns .Subscribe:hover{
     background: linear-gradient(to right, #1936db, #d82307);
    font-size: 14px;
    cursor: pointer;

  }


 

  /* about section starts here */


  .about-container{
    background-color: #1A0B2E;
    

  }

  .about   {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 80px;
        padding-top: 50px;
        
    }
 
  .about h1{
    font-size: 48px;
    font-weight: 700;
    color: white
    
    
  }

 .about p{
  color: rgba(255, 255, 255, 0.447);
    font-size: 16px;
    text-align: center;
 }

  .line2{
     max-width: 1200px;
       margin: 0 auto;
  }

 .all-ratings{
    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
  grid-template-columns: repeat(4, 1fr);

    padding-bottom: 120px;
    padding-top: 80px;

 }


  .all-ratings h1{
    color: #40cb53;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    
  }

 .all-ratings h4{
    color: rgba(255, 255, 255, 0.447);
    font-size: 18px;
    text-align: center;
   

 }






  /*  mobile responsive starts here */


  @media screen and (max-width: 576px) {


    /* nav items */

    .nav .subscribe{
        display: none;
    }

    .nav ul li a{
         display: none;

    }


    .nav .hamburger-menu{
    display:block;
  }

   .nav{
    padding: 16px 20px;
   }


   /* banner part starts here */


   .bg{
   width: 100%;
  min-height: 560px;
  
  
    
   }


   .img-1 {
  width: 290px;
  padding-top: 4%;
 
}



.img-2 {
   
  top: 52%;
  
  right: 42%;
  width: 90px;
  z-index: 2;
}

    .badge {
  top: 38%;
  right: 28%;

} 

 .techWave-text{
margin:0 10% 0 10%;

 }




    /* about section starts here */

    .about p{
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-hide{
        display: none;
    }

    .all-ratings{
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

 }

  .line2{
     max-width: 85%;
      
  }





    
  }



