*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}




/* footer */


.footer-bg{
   background-image: url('../B13-A02-TechWave/assets/footer-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
}




/* nav items starts */



nav{
      background-color: #1A0B2E;
      padding-bottom: 16px;
}

.nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  

}

.nav h2{
color: white;
font-size:xx-large;
}
 .wave{
   
  background: linear-gradient(to bottom, #F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


 } 

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav .nav-items{
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}


.nav ul li a:hover{
    color: rgb(169, 22, 49);
    cursor: pointer;
}



.nav .subscribe{
    color: white;
    width: 135px;
    padding: 12px 16px;
    border-radius: 25px;
    font-weight: 600;
background: linear-gradient(to bottom, #F7E93F, #FB09B4,#9100F8);
border: none;
  

}


 .subscribe:hover{
    background: linear-gradient(to right, #1936db, #40cb53);
    font-size: 15px;
    cursor: pointer;
  
 }


  .nav .hamburger-menu{
    display: none;
  }




/* banner section starts here */

  .line {
  border: none;
  height: 2px;
  background-color:rgb(44, 44, 75) ;
}







.img-box {
  position: relative;  
  width: 200px;
  
}

.img-1 {
  width: 400px;
  display: block;
  padding-top: 4%;
  margin: 0 auto;
}

.img-2 {
   position: absolute;
  top: 32%;
  /* left: 50%; */
  right: 46%;
  width: 120px;
  z-index: 2;
}

/*  Badge beside 1st image */

 
.badge {
  position: absolute;
  top: 25%;
  right: 38%;

  background: rgb(27, 193, 27);
 
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 12px;

  z-index: 3;
} 

  .banner-text-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  

  .techWave{
    color: white;
font-size: 60px;
font-weight: 800;

  }

  .techWave-text{
    color: rgba(255, 255, 255, 0.447);
    text-align: center;
  }



  .banner-btns{
    margin-top: 24px;
    display: flex;
    gap: 8px;

  }




  .Listen-on-Spotify{
     color: white;
    width: 155px;
    padding: 10px ;
    border-radius: 25px;
    font-weight: 600;
background: linear-gradient(to bottom, #F7E93F, #FB09B4,#9100F8);
border: none;

  }

 .Listen-on-Spotify:hover {
     background: linear-gradient(to right, #1936db, #40cb53);
    font-size: 14px;
    cursor: pointer;
  }


  .banner-btns .Subscribe{
      color: rgb(29, 200, 29);
    width: 135px;
    padding: 10px ;
    border-radius: 25px;
    font-weight: 600;
background: transparent;
border: 2px solid rgb(29, 200, 29);


  }


  .banner-btns .Subscribe:hover{
     background: linear-gradient(to right, #1936db, #d82307);
    font-size: 14px;
    cursor: pointer;

  }


 





  /* about section starts here */


  .about-container{
    background-color: #1A0B2E;
    

  }

  .about   {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 80px;
        padding-top: 50px;
        
    }
 
  .about h1{
    font-size: 48px;
    font-weight: 700;
    color: white
    
    
  }

 .about p{
  color: rgba(255, 255, 255, 0.447);
    font-size: 16px;
    text-align: center;
 }

  .line2{
     max-width: 1200px;
       margin: 0 auto;
  }

 .all-ratings{
    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
  grid-template-columns: repeat(4, 1fr);

    padding-bottom: 120px;
    padding-top: 80px;

 }


  .all-ratings h1{
    color: #40cb53;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    
  }

 .all-ratings h4{
    color: rgba(255, 255, 255, 0.447);
    font-size: 18px;
    text-align: center;
   

 }




 /* choose section starts here */


 .full-choose{
   
  
    
    padding-top: 120px;
    padding-bottom: 120px;
    background:#230E3D;


      display: flex;
      flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;  

 }

  .full-choose h2{
    color: white;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 40px;
    text-align: center;

  }


 .all-choose-cards{


      max-width: 1200px;
     display: grid;
   
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto); 
  gap: 20px;

   
  }







  .Premium{
    
    border-radius: 25px;
    background:rgba(40, 10, 93, 0.682);
    grid-row: span 2;
    padding: 40px;
  }

  .Premium:hover{
    background:rgba(46, 3, 121, 0.682);
    cursor: pointer;
  }

 .Premium h3{
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
 }


  .Premium p {
    color: rgba(255, 255, 255, 0.447);
  }






 .Mobile{
        border-radius: 25px;
    background:rgba(40, 10, 93, 0.682);
    
    padding: 40px;
    grid-column: span 2;
 }

  .Mobile:hover{
    background:rgba(46, 3, 121, 0.682);
    cursor: pointer;
  }


.Mobile h3{
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
 }


  .Mobile p {
    color: rgba(255, 255, 255, 0.447);
  }







  
  .Global{
    
    border-radius: 25px;
    background:rgba(40, 10, 93, 0.682);
    grid-column: span 2;
    padding: 40px;
  }

  .Global:hover{
    background:rgba(46, 3, 121, 0.682);
    cursor: pointer;
  }

 .Global h3{
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
 }


  .Global p {
    color: rgba(255, 255, 255, 0.447);
  }








.Exclusive{
    
    border-radius: 25px;
    background:rgba(40, 10, 93, 0.682);
    grid-column: span 2;
    padding: 40px;
  }

  .Exclusive:hover{
    background:rgba(46, 3, 121, 0.682);
    cursor: pointer;
  }

.Exclusive h3{
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
 }


  .Exclusive p {
    color: rgba(255, 255, 255, 0.447);
  }









     .Rich{
    
    border-radius: 25px;
    background:rgba(40, 10, 93, 0.682);
   
    padding: 40px;
  }

   .Rich:hover{
    background:rgba(46, 3, 121, 0.682);
    cursor: pointer;
  }

  .Rich h3{
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
 }


   .Rich p {
    color: rgba(255, 255, 255, 0.447);
  }









/*   youtube card section strts here */




  .all-video-cards-container{

 background-color: #1A0B2E;
  }


  .all-video-cards-container>h1{
    padding-top: 120px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
  }



  .all-video-cards{
   
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
    
  }



    .my-card{
      display: flex;
      flex-direction: column;
      
     
      background:rgba(40, 10, 93, 0.682);
      border-radius: 20px;
      width: 320px;
      



    }


     .my-card:hover{
    background:rgba(46, 3, 121, 0.682);
    cursor: pointer;
  }



.card {
  width: 320px;
  padding: 16px;  
  background:rgba(40, 10, 93, 0.682);
  gap: 12px;
}

/* Responsive YouTube video */

.video-wrapper {
  width: 320px;
  aspect-ratio: 16 / 9;
  border-radius: 20px 20px 0 0;
 
}

.video-wrapper iframe {
  width: 320px;
  border-radius: 20px 20px 0 0;
  
  height: 100%;
 
}

.my-card h2 {
  
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  
}

.my-card p {
 color: rgba(255, 255, 255, 0.447);
 padding-bottom: 12px;
 padding-left: 24px;
  padding-right: 24px;
}

.extra-text {
  display: flex;
  gap: 5px;
  align-items: center;
  
  color: rgb(11, 210, 11);
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}















/*   host section starts here    */


   .full-host-section-container{
     background-color: #1A0B2E;
     padding-top: 120px;
     padding-bottom: 120px;
   }

   .full-host-section-container h1{
    
     max-width: 1200px;
     margin: auto;
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
   }

 .full-host-section{
    
    display: flex;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
    background:rgba(40, 10, 93, 0.682);
 }

  .full-host-section h2{
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 16px;
  }



  .full-host-section p {
    color: rgba(255, 255, 255, 0.447);
    padding-bottom: 16px;
  }


  .host-icons{
    
    display: flex;
    gap: 20px;
  }

   /*  .host-icons img{
        width: 100%;
        width: cover;
    }
 */
   .host-icon1 , .host-icon2, .host-icon3 , .host-icon4{
    border:1px solid rgba(255, 255, 255, 0.264) ;
    padding: 12px;
   
    border-radius: 50%;

   }







/* footer section starts here */


  .footer-all-items{
    
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  
  }


 .footer-techwave{
    font-size: xx-large;
 }

 .footer-techwave .Tech{
    color: white;
 }

 .icon1,.icon2,.icon3,.icon4{
    display: flex;
    gap: 10px;
 }

 .footer-all-icons{
    display: flex;
   
    justify-content: center;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
 .footer-all-icons p{
     color: rgba(255, 255, 255, 0.447);
 }


 .copyright-text{
    color: rgba(255, 255, 255, 0.447);

 }










  /*  mobile responsive starts here */


  @media screen and (max-width: 576px) {


    /* nav items */

    .nav .subscribe{
        display: none;
    }

    .nav ul li a{
         display: none;

    }


    .nav .hamburger-menu{
    display:block;
  }

   .nav{
    padding: 16px 20px;
   }


   /* banner part starts here */


   .bg{
   width: 100%;
  min-height: 560px;
  
  
    
   }


   .img-1 {
  width: 290px;
  padding-top: 4%;
 
}



.img-2 {
   
  top: 30%;
  
  right: 40%;
  width: 90px;
  z-index: 2;
}

    .badge {
  top: 18%;
  right: 25%;

} 

 .techWave-text{
margin:0 10% 0 10%;

 }




    /* about section starts here */

    .about p{
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-hide{
        display: none;
    }

    .all-ratings{
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

 }

  .line2{
     max-width: 85%;
      
  }





/*  choose card section starts here */


  .all-choose-cards{

  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

 
  }

  .Premium p,.Exclusive p,.Rich p, .Global p, .Mobile p{
    text-align: start;
  }

   





/* youtube videos card starts here */

 .all-video-cards{
   
  flex-direction: column;
  justify-content: center;
 
  width: 326px; 
  
  gap: 20px;
 
  }







  
    .my-card{
      display: flex;
      flex-direction: column;
      
     
      background:rgba(40, 10, 93, 0.682);
      border-radius: 20px;
      width: 320px;
      
    }


   .my-card p{
    text-align: start;
   }










/*  host section starts here */

 .full-host-section-container{
    padding-top: 60px;
    padding-bottom: 40px;
 }

 .full-host-section {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    
 }

  .full-host-section h2, p{
    text-align: center;
  }

  .host-icons{
   
    justify-content: center;
    
  }

  




  


  /* footer section starts here */

   .footer-all-icons{

    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    margin: auto;
  
  }

.footer-bg{
 
    background-size:100% 100%;
}
   
 
  

  







    
  }




  /* .container p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

